html,
body {
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  background-image: url("../img/01.jpg");
  background-repeat: no-repeat, repeat;
  background-color: black;
}
.comtainer{
  background-image: url(01.jpg);
}
.topo{
  box-align: center;
  height: 30%;
  width: 100%;
}
.tudo{
  margin-top: 100px;
}
.frase{
  margin-top: -200px;
  margin-bottom: 115px;
  text-align: center;
}

/* .alinhamento{
  text-align: right;
} */

